<% @articles.each do |article| %>
  <article>
    <div class="article-box">
    <header>
      <p>
        <%= article[:create_date].strftime("%Y/%m/%d %H:%M:%S.%L") %>
        <input type="button" class="btn" value="edit" onClick="editItem('<%= article[:article_id] %>')">
        <input type="button" class="btn" value="delete" onClick="deleteItem('<%= article[:article_id] %>')">  
      </p>
    </header>
    <pre><span id="<%= article[:article_id] %>" class="article"><%= article[:text] %></span></pre>
    <% id = article[:article_id] %>
    <% unless article.tag_dataset.empty? %>
      <% article.tag_dataset.each do |tag| %>
      <span class="tag"><%= tag.name %></span>
      <% end %>
      <input id="tag<%= id %>" type="hidden" data-tag="<%= article.tag_dataset.map {|tag| tag.name }.join(',') %>">
    <% end %> 
    </div>
  </article>
<% end %>

<div id="modal" class="modal">
  <div id="modalContent" class="modal-content">
<textarea id="editText"></textarea>
  <div class="form-parts">
    <input id="editTag" type="text" size="30" placeholder="enter tags separated by commas.">
  </div>
  <div class="modal-btn-box">
    <input id="editBtn" class="btn" type="button" value="ok">
    <input id="cancelBtn" class="btn" type="button" value="cancel">
  </div>
  </div>
</div>

<div class="pagination-box">
  <%= erb :pagination %>
</div>