<% @articles.each do |item| %>
  <article>
    <header>
      <p>
        <%= item[:create_date].strftime("%Y/%m/%d %H:%M:%S.%L") %>
        <input type="button" value="edit" onClick="editItem('<%= item[:article_id] %>','<%= item[:text] %>')">
        <input type="button" value="delete" onClick="deleteItem('<%= item[:article_id] %>')">  
      </p>
    </header>
    <p><%= item[:text] %></p>
    <p>
    <% id = item[:article_id] %>
    <% @merged_tag[id].each do |tag| %>
      <%= tag %>
    <% end %>
    </p>
  </article>
<% end %>

<div id="modal" class="modal">
  <div id="modalContent" class="modal_content">
<textarea id="editText"></textarea>
    <input id="editBtn" type="button" value="ok">
    <input id="cancelBtn" type="button" value="cancel">
  </div>
</div>