<% @arr.each do |item| %>
  <article>
    <header>
      <p>
        <%= item[:create_date].strftime("%Y/%m/%d %H:%M:%S.%L") %>
        <input type="button" value="edit" onClick="editItem('<%= item[:id] %>', '<%= item[:text] %>')">
        <input type="button" value="delete" onClick="deleteItem('<%= item[:id] %>')">
      </p>
    </header>
    <p><%= item[:text] %></p>  
  </article>
<% end %>

<div id="modal" class="modal">
  <div id="modalContent" class="modal_content">
<textarea id="editText"></textarea>
    <input type="button" value="ok">
    <input type="button" value="cancel">
  </div>
</div>